@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


.herosection-light {
    background-color: teal;
}
.container{
    padding-right: 40px;
    padding-left: 40px;
}
.overlay {
    position:relative;
    top:-18px;
    background: linear-gradient(to left, rgb(31, 30, 30), rgb(27, 27, 27) 50%, #000000 75%, #000000 75%);;
    opacity: 0.8;
    width: 100%;
    height: 70vh;
}
.hero-text {
    position: absolute;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    top:211px;
    padding: 50px;
    opacity: 1;
}

.subtext {
    position: absolute;
    top:441px;
    margin-bottom: 20px;
    margin-top: -20px;
    font-size: 18px;
    word-wrap: break-word;
    word-spacing: 2px;
    letter-spacing: 2px;
    color: white;
   
}
.btn-explore{
    position: absolute;
    padding: 18px;
    color: white;
    background-color: black;
    z-index: 999;
    top: 555px;
    left: 50px;
    cursor: pointer;
    transition: all .6s;
}
.btn-explore:hover{
    background-color: tomato;
    color: white;
}

@media screen and (max-width:700px){
    .hero-text {
        margin-top:62px;
        font-family: 'Anton', sans-serif;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: white;
        font-size: 28px;
        opacity: 1;
    }
    .subtext {
        margin-top: 26px;
        font-size: 16px;
        word-wrap: break-word;
        word-spacing: 2px;
        letter-spacing: 2px;
        color: white;
    }
    .btn-explore{
        position: absolute;
        top: 682px;
        padding: 18px;
        color: white;
        background-color: black;
        z-index: 999;
        width: 280px;
    }
    .overlay {
        position:relative;
        top:-15px;
        background: linear-gradient(to left, rgb(31, 30, 30), rgb(27, 27, 27) 50%, #000000 75%, #000000 75%);;
        opacity: 0.8;
        width: 100%;
    }
}

.animate__animated.animate__slideInLeft {
    --animation-duration: 5s ;
}
.animate__animated.animate__slideInUp {
    --animation-duration: 15s   
}
.slideshow {
    list-style:none;
}
.hero__section li span {
    position: absolute;
    width: 100%;
    height: 70vh;
    top: 240px;
    left: 0px;
    color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 50% 50%;
    opacity: 0;
    z-index: 0;
    animation: imageAnime 30s linear infinite 0s;
}
.hero__section li:nth-child(1) span {
    background-image: url('./img/image1.jpg');
}
.hero__section li:nth-child(2) span {
    background-image: url('./img/image2.jpg');
    animation-delay: 6s;
}
.hero__section li:nth-child(3) span {
    background-image: url('./img/image3.jpg');
    animation-delay: 12s;
}
.hero__section li:nth-child(4) span {
    background-image: url('./img/image4.jpg');
    animation-delay: 18s;
}
@keyframes imageAnime {
    0% {opacity: 0; animation-timing-function: ease-in;}
    8% {opacity: 1; animation-timing-function: ease-out;}
    17% {opacity: 1;}
    25% {opacity: 0;}
    100% {opacity: 0;}
}
.hot__plate {
    text-align: center;
    color: black;
    margin: auto;

}