:root {
  --fs-bg:calc(30px + 6 * ((100vw - 320px) / 680));
  --fs-sm:calc(12px + 6 * ((100vw - 320px) / 680));
  --fw-100 :800;
  --fw-200:600;
}
.products__text {
  font-size: var(--fs-bg);
  text-align: center;margin-top: 5px;
  margin-bottom: 10px;
  font-weight: var(--fw-100);
}
.products__subtext {
  font-size: var(--fs-sm);
  text-align: center;
  font-weight: var(--fw-200);
}
.bd {
  text-transform: uppercase;
  color: tomato;
  font-weight:var(--fw-100);
  margin-bottom: 10px;
}
.image__context {
  cursor: pointer;
  background-size: cover;
  background-position: center;
  height: 200px;
  transition: .3s ease-in-out;
  transform: scale(1);
  -webkit-transform: scale(1);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.image__context:hover {
    margin-left: 0;
}
.prophesie {
  background-image: url("./img/phrophieshero.jpg");
}
.bombay {
    background-image: url('./img/bombay.jpg');
}
.cura {
    background-image: url('./img/cura.jpg');
}

.tentenela {
    background-image: url('./img/tentenela.jpg');
}
.overlay__two {
  position: absolute;
  height: 200px;
  width: 100%;
  opacity: 0.7;
}
.image__context-text {
  text-align: center;
  padding-top: 90px;
  color: rgb(53, 1, 1);
  font-size: var(--fs-bg);
  z-index: 1;
}
.image__context-subtext {
  text-align: center;
  font-size: var(--fs-sm);
  text-transform: uppercase;
  color: white;
  z-index: 1;
}
.btn-container {
  width: 100%;
  text-align: center;
}
.btn-explore__photolink {
  width: 30%;
  margin-top: 30px;
  padding: 16px;
  background-color: black;
  color:white;
  margin-bottom: 30px;
}
.btn-explore__photolink:hover{
  background-color:tomato;
  color: black;
  transition: all .3s ease-in-out;
}
@media screen and (max-width: 700px) {
  .btn-explore__photolink {
    width: 50%;
  }
}
